<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <div class="ion-text-start"> -->
          <ion-icon name="accessibility-outline"></ion-icon>
          <label> Haloo nama saya Feronica NRP C14180099</label><br>
          <ion-icon name="rocket-outline"></ion-icon>
          <label> Lets play!!</label>

        <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>

 
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
